/* css/main.css - main CSS file for kata.wiki
 *
 * @author: Cade Brown <me@cade.site>
 */


 html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

#container {
	height: 100%;
}

#sidebar {
	display: inline-block;
	vertical-align: top;
	width: 10em;
	height: 100%;
	overflow: auto;
}

#content {
	display: inline-block;
	vertical-align: top;
	height: 100%;
    overflow: auto;
}


